* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #b4e9ff;
  --color-secondary: #dee7a2;

  --height-header: 32px;
}

html,
body {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  touch-action: manipulation;
}
