* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #b4e9ff;
  --color-secondary: #dee7a2;

  --height-header: 32px;
}

html,
body {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  touch-action: manipulation;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > span {
    height: var(--height-header);
    font-size: 24px;
    font-weight: bold;
  }

  & > div.counter-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template:
      ". count ." 32px
      "minus . plus" 32px
      / 1fr 100px 1fr;
    gap: 8px;
    place-content: center;

    & > span.count {
      width: 100%;
      grid-area: count;
      font-weight: bold;
      text-align: center;
    }

    & > button {
      width: 32px;
      height: 32px;
      border-radius: 100vh;
      border: none;
      background-color: var(--color-primary);
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: var(--color-secondary);
      }

      &.plus {
        grid-area: plus;
        margin-right: auto;
      }
      &.minus {
        grid-area: minus;
        margin-left: auto;
      }
    }
  }
}
